<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" 
				 requirePermission="false" 
				 type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	
	<urlrewritingnet rewriteOnlyVirtualUrls="true"
                   contextItemsPrefix="QueryString" 
					 defaultProvider="RegEx" 
					 xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="category" 
			     virtualUrl="^~/category/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/index.html?category=$1" 
				 redirect="Application" 
				 ignoreCase="true"/>
			<add name="book" 
			     virtualUrl="^~/book/(.*),index.xml" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/reader.html?book=$1" 
				 redirect="Application" 
				 ignoreCase="true"/>
			<add name="categoryAPI" 
			     virtualUrl="^~/api/category/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/api/Category.ashx?path=$1" 
				 ignoreCase="true"/>
			<add name="bookAPI" 
			     virtualUrl="^~/api/book/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/api/Book.ashx?path=$1" 
				 ignoreCase="true"/>
			<add name="metaAPI" 
			     virtualUrl="^~/api/meta/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/api/Meta.ashx?path=$1" 
				 ignoreCase="true"/>				 
		</rewrites>
	</urlrewritingnet>
	<appSettings/>
	<system.web>
		<customErrors mode="Off">
		</customErrors>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<compilation debug="true"/>
	</system.web>
</configuration>
