<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" 
				 requirePermission="false" 
				 type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	
	<urlrewritingnet rewriteOnlyVirtualUrls="true"
                   contextItemsPrefix="QueryString" 
					 defaultProvider="RegEx" 
					 xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="category" 
			     virtualUrl="^~/category/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/ashx/Category.ashx?path=$1" 
				 ignoreCase="true"/>
			<add name="book" 
			     virtualUrl="^~/book/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/ashx/Book.ashx?path=$1" 
				 ignoreCase="true"/>	
			<add name="meta" 
			     virtualUrl="^~/meta/(.*)" 
				 rewriteUrlParameter="ExcludeFromClientQueryString" 
				 destinationUrl="~/ashx/Meta.ashx?path=$1" 
				 ignoreCase="true"/>				 
		</rewrites>
	</urlrewritingnet>
	<appSettings/>
	<system.web>
		<customErrors mode="Off">
		</customErrors>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<compilation debug="true"/>
	</system.web>
</configuration>
